<?xml version="1.0"?>
<!--
  TurtleBot3 Burger with GPS - Based on original TurtleBot3 model
  
  Original TurtleBot3 model copyright:
  Copyright 2016 ROBOTIS CO., LTD.
  
  Licensed under the Apache License, Version 2.0
  https://github.com/ROBOTIS-GIT/turtlebot3_simulations
  
  GPS sensor modifications added for EKF localization project.
-->
<model>
  <name>TurtleBot3 Burger GPS</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Taehun Lim (Darby) - Original TurtleBot3</name>
    <email>thlim@robotis.com</email>
  </author>
  <author>
    <name>EKF Localization Project - GPS modifications</name>
  </author>
  <description>
    TurtleBot3 Burger with GPS (NavSat) sensor for EKF localization testing.
    Based on the original TurtleBot3 Burger model by ROBOTIS with an added 
    NavSat sensor that simulates GPS with configurable noise.
  </description>
</model>
